.section1{
    background: url(../img/bg-header-desktop.png);
    background-repeat: no-repeat;
}
.heading{
    font-size: 45px;
    color:rgb(68, 66, 66);
}
.header-para{
    font-size: 20px;
    color:rgb(124, 118, 118);
}
.btn1{
    background-color: hsl(171, 66%, 44%) ;
    color:white;
    font-size: 18px;
    border-radius: 25px;
    padding:12px;
}
.btn2{
    background-color:  hsl(233, 100%, 69%);
    color:white;
    font-size: 18px;
    border-radius: 25px;
    padding:12px;
}
.btn1:hover{
    color:white;
    background-color:  hsla(171, 74%, 46%, 0.932);
    box-shadow:1px 5px 10px hsla(171, 80%, 41%, 0.788) ;
}
.btn2:hover{
    color:white;
    background-color:  hsla(233, 94%, 68%, 0.877);
    box-shadow:1px 5px 10px hsla(233, 56%, 58%, 0.822);
}
.section2{
    margin-top: 100px;
}
 .h2{
    color: rgb(58, 56, 56);
    text-align:center
}
.sec2-p{
    color:rgb(138, 136, 136);
    text-align: center;
    font-size:17px;
}
.sec2-para{
    color:rgb(138, 136, 136);
    font-size: 15px;
}
.section3{
    margin-top: 50px;
}
.footer-link{
    color:rgb(68, 67, 67);
    font-size: 15px;
}
.footer-link:hover{
    color:hsl(171, 66%, 44%);
    text-decoration: none;
}
.footer-logo{
    width:40%;
    height:80%;
}
.foot{
    margin-top: 100px;
    background-color: hsla(220, 23%, 95%, 0.863);
}
.footer-icon{
    font-size:30px;
    color:black;
}
.footer-icon:hover{
    color:hsl(171, 66%, 44%);
    text-decoration: none;
}